[Desktop Entry]
Name=Reminders
Comment=Reminders and To-Do lists
Exec=Reminders
Icon=com.stephenhouser.Reminders
Terminal=false
Type=Application
Categories=Office;ProjectManagement;GTK;GNOME;
Keywords=todo;task;reminder;list
StartupNotify=true
DBusActivatable=false
